#title {
    position  : absolute;
    left      : 500px;
}
/* .mapSet{
    background: #ffffff00;
    border-left    : 6px solid #ffa500;
    right: 0px;
    top: 40px;
    width: 270;
    height: 300;
    position  : absolute;  
} */
.buttonMapSat{
    position  : absolute;
    background: #ffffffdd;
    right: 0px;
    width: 200px;
    border   : 0px solid #ffa500;
    border-left    : 3px solid #ffa500;
    font-size: 50px;  
    font-family: "Lucida Console", "Courier New", monospace;
    transition: transform .2s all;
    outline:none;
}
.buttonMapSatActive{
    border-left    : 6px solid #ffffff; 
    background: #ffa500;
    width: 250px;
    outline:none;
    font-weight: bold;
}
.buttonMapSat:hover {
    background: #ffffffdd;
    width: 250px;
    border-left    : 6px solid #ffa500;
}
.ol-layer{
    width:100%

}
.ol-zoom-in{
    position  : absolute;
    background: #ffffffdd;
    top: 200px;
    height: 70px;
    width: 70px;
    right: 0px;
    border   : 0px solid #ffa500;
    border-left    : 3px solid #ffa500;
    font-size: 50px;  
    font-family: "Lucida Console", "Courier New", monospace;
    transition: transform .2s all;
}
.ol-zoom-in:hover {
    background: #ffffffdd;
    border-left    : 6px solid #ffa500;
    width: 90px;
}

.ol-zoom-out{
    position  : absolute;
    background: #ffffffdd;
    right: 0px;
    height: 70px;
    width: 70px;
    top: 270px;
    border   : 0px solid #ffa500;
    border-left    : 3px solid #ffa500;
    font-size: 50px;  
    transition: transform .2s all;
    font-family: "Lucida Console", "Courier New", monospace;
}
.ol-zoom-out:hover {
    background: #ffffffdd;
    width: 90px;
    border-left    : 6px solid #ffa500;
}
#hillshade{
    background: #000000;
}
.buttonMap{
    font-family: "Lucida Console", "Courier New", monospace;
    background: #666666; 
    color     : #ffffff;
    width     : 100px;
    height    : 40px;
    font-size: 20px;
    border    : 1px solid #ffffff;
    box-shadow: rgba(0, 0, 0, .75) 0 5px 6px;
    align-content: center;
}
.buttonMap:hover {
    background-color: #ffffff;
    color: white;
    }

.resettool {
    background: #ffa500; 
    color     : #000000;
    width     : 200px;
    height    : 100px;
    border    : 1px solid #ffa500;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}     

.h1{
    font-size: 50px;  
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color     : #000000;
}
.dropdown{
    font-family: "Lucida Console", "Courier New", monospace;
    background: #ffffff; 
    color     : #000000;
    width     : 400px;
    height    : 100px;
    font-size: 50px;
    border    : 1px solid #ffa500;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;

}
.textForm{
    font-family: "Lucida Console", "Courier New", monospace;
    background: #ffffff; 
    color     : #000000;
    width     : 400px;
    height    : 100px;
    font-size: 50px;
    border    : 1px solid #ffa500;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
.text1 {
    font-family: "Lucida Console", "Courier New", monospace; 
    color     : #ffffff;
    font-size: 50px;
}

.map {
    height: 100%;
    width: 100%;
    position  : absolute;
    left      : 0px;
  }

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

.circleMenuCenter{
    width:120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffffdd;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    border    : 3px solid #ffa500;
    transition: transform .2s ease;
}
.circleMenuCenter:focus {
    outline:0;
}
.circleMenuCenter:hover {
    transform: scale(1.5); 
    background: #ffffffdd;
    border    : 6px solid #ffa500;
}
.circleMenuOuter{
    left: 0px;
    top: 0px;
    height: 90px;
    width: 90px;
    border-radius: 90px;
    cursor: pointer;
    position: absolute;
    background: #ffffffdd;
    border    : 3px solid #ffa500;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: transform .2s ease;
}
.circleMenuOuter:focus {
    outline:0;
}
.circleMenuOuter:hover {
    transform: scale(1.5); 
    background: #ffffffdd;
    border    : 6px solid #ffa500;
}
.circleMenuOuterActive {
    transform: scale(1.2s); 
    background: #ffa500dd;
    border    : 6px solid #ffffff;
    font-weight: bold;
}
.circleMenuEmpty{
    background: #11111144;
    border    : 3px solid #111111;
    left: 0px;
    top: 0px;
    height: 90px;
    width: 90px;
    border-radius: 90px;
    position: absolute;
}
.menuMainSet{
    transition: transform 3s ease;
    overflow: hidden;
    height: auto;
    width: auto;
}

.shrink{
    height: 0px !important;
    width: 0px !important;
}
.menuMinMap{
    background: #ffffff3d;
    border    : 1px solid #6666663d;
    width     : 200px;
    top       : 90px; 
    position  : absolute;
    left      : 75vw;
}
.toolTip{
    background: #ffffff; 
    border    : 1px solid #000000;

    display:  none;
    top       : 90vw; 
    border-radius: 5px;
    position  : absolute;
    left      : 75vw;
}
.segmentEditMenu{
    left: 50vw;
    top: 50vh;
    height: 160px;
    width: 190px;
    position: absolute;
    background: #ffffffdd;
    border    : 3px solid #ffa500;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 20px; 
    text-align: center;
    display:  none;
}

.colorSelectRed{
    height: 30px;
    width: 30px;
    border    : 2px solid #aaaaaa;
    background: #ff0000;
}
.colorSelectYellow{
    height: 30px;
    width: 30px;
    border    : 2px solid #aaaaaa;
    background: #ffee00;
}
.colorSelectGreen{
    height: 30px;
    width: 30px;
    border    : 2px solid #aaaaaa;
    background: #00ff15;
}
.landingButton{
    height: 10%;
    width: 70%;  
    border-radius: 30px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    background: #ffa500;
    border    : 3px solid #ffa500;
    color: white;
    font-size: 300%;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.assignSidebar{
    height: 99%;
    width: 20%;  
    position: absolute;
    left: 0%;
    border-right   : 3px solid #ffa500;
    background: #ffffff99;
}

.assignToggle{
    left: 0%;
    top: 9%;
    position: absolute;
    border-right   : 3px solid #ffa500;
    background: #ffffff;
    height: 3%;
    width: 3%;  
    z-index: 3003;
}
.assignToggle:hover {
    background: #ffffffdd;
    border-right    : 6px solid #ffa500;
}

.assignBox{
    border  : 1px solid #000000;
    background: #ffffffdd;
    margin: 5px;
    width : 90%;
}

.resourceList{
    overflow: scroll;
    height: 85%;
}