
<table name="rangeTable" id="rangeTable" style="display: none;">
<thead><tr class="tableizer-firstrow"><th>Angler</th><th>Temperate</th><th>Mountain</th><th>0.3</th><th>1.5</th><th>5.5</th><th>9.9</th></tr></thead><tbody>
 <tr><td>Angler</td><td>Temperate</td><td>Flat</td><td>0.8</td><td>1.6</td><td>3.9</td><td>14.9</td></tr>
 <tr><td>ATV</td><td>Temperate</td><td>Mountain</td><td>1.6</td><td>3.2</td><td>5.6</td><td>8</td></tr>
 <tr><td>Autistic</td><td>Temperate</td><td>*</td><td>0.4</td><td>1</td><td>2.3</td><td>9.5</td></tr>
 <tr><td>Autistic</td><td>Urban</td><td>*</td><td>0.3</td><td>1</td><td>3.8</td><td>8</td></tr>
 <tr><td>Camper</td><td>Temperate</td><td>Mountain</td><td>0.1</td><td>1.4</td><td>1.9</td><td>24.7</td></tr>
 <tr><td>Camper</td><td>Temperate</td><td>Flat</td><td>0.1</td><td>0.7</td><td>2</td><td>8</td></tr>
 <tr><td>Child (1-3)</td><td>Temperate</td><td>Mountain</td><td>0.1</td><td>0.2</td><td>0.4</td><td>2.8</td></tr>
 <tr><td>Child (1-3)</td><td>Temperate</td><td>Flat</td><td>0.1</td><td>0.2</td><td>0.6</td><td>2</td></tr>
 <tr><td>Child (1-3)</td><td>Urban</td><td>*</td><td>0.1</td><td>0.3</td><td>0.5</td><td>0.7</td></tr>
 <tr><td>Child (4-6)</td><td>Temperate</td><td>Mountain</td><td>0.1</td><td>0.8</td><td>1.5</td><td>3.7</td></tr>
 <tr><td>Child (4-6)</td><td>Temperate</td><td>Flat</td><td>0.2</td><td>0.6</td><td>1.5</td><td>6.6</td></tr>
 <tr><td>Child (4-6)</td><td>Urban</td><td>*</td><td>0.2</td><td>0.5</td><td>2</td><td>3.4</td></tr>
 <tr><td>Child (7-9)</td><td>Temperate</td><td>Mountain</td><td>0.8</td><td>1.6</td><td>3.2</td><td>11.3</td></tr>
 <tr><td>Child (7-9)</td><td>Temperate</td><td>Flat</td><td>0.2</td><td>0.8</td><td>2</td><td>8</td></tr>
 <tr><td>Child (7-9)</td><td>Urban</td><td>*</td><td>0.2</td><td>0.5</td><td>2.5</td><td>5.2</td></tr>
 <tr><td>Child (10-12)</td><td>Temperate</td><td>Mountain</td><td>0.8</td><td>1.6</td><td>3.2</td><td>9</td></tr>
 <tr><td>Child (10-12)</td><td>Temperate</td><td>Flat</td><td>0.4</td><td>1.6</td><td>4.8</td><td>10</td></tr>
 <tr><td>Child (10-12)</td><td>Urban</td><td>*</td><td>0.3</td><td>1.5</td><td>2.9</td><td>5.8</td></tr>
 <tr><td>Child (13-15)</td><td>Temperate</td><td>Mountain</td><td>0.8</td><td>2.1</td><td>4.8</td><td>21.4</td></tr>
 <tr><td>Child (13-15)</td><td>Temperate</td><td>Flat</td><td>0.6</td><td>1.3</td><td>3.2</td><td>10</td></tr>
 <tr><td>Climber</td><td>Temperate</td><td>Mountain</td><td>0.1</td><td>1</td><td>3</td><td>10.5</td></tr>
 <tr><td>Climber</td><td>Temperate</td><td>Flat</td><td>0.2</td><td>1.6</td><td>3.2</td><td>14.7</td></tr>
 <tr><td>Dementia</td><td>Temperate</td><td>Mountain</td><td>0.3</td><td>0.8</td><td>1.9</td><td>8.3</td></tr>
 <tr><td>Dementia</td><td>Temperate</td><td>Flat</td><td>0.3</td><td>1</td><td>0.4</td><td>12.8</td></tr>
 <tr><td>Dementia</td><td>Urban</td><td>*</td><td>0.3</td><td>1.1</td><td>3.2</td><td>12.6</td></tr>
 <tr><td>Despondent</td><td>Temperate</td><td>Mountain</td><td>0.3</td><td>1.1</td><td>3.2</td><td>21.6</td></tr>
 <tr><td>Despondent</td><td>Temperate</td><td>Flat</td><td>0.3</td><td>0.8</td><td>2.3</td><td>17.3</td></tr>
 <tr><td>Despondent</td><td>Urban</td><td>*</td><td>0.1</td><td>0.5</td><td>1.5</td><td>13.1</td></tr>
 <tr><td>Gatherer</td><td>Temperate</td><td>*</td><td>1.5</td><td>3.2</td><td>6.4</td><td>12.9</td></tr>
 <tr><td>Hiker</td><td>Temperate</td><td>Mountain</td><td>1.1</td><td>3.1</td><td>5.8</td><td>18.3</td></tr>
 <tr><td>Hiker</td><td>Temperate</td><td>Flat</td><td>0.6</td><td>1.8</td><td>3.2</td><td>&nbsp;</td></tr>
 <tr><td>Horseback Rider</td><td>*</td><td>*</td><td>0.3</td><td>3.2</td><td>8.1</td><td>19.8</td></tr>
 <tr><td>Hunter</td><td>Temperate</td><td>Mountain</td><td>1</td><td>2.1</td><td>4.8</td><td>17.2</td></tr>
 <tr><td>Hunter</td><td>Temperate</td><td>Flat</td><td>0.6</td><td>1.6</td><td>3.1</td><td>13.7</td></tr>
 <tr><td>Mental Illness</td><td>Temperate</td><td>Mountain</td><td>0.4</td><td>1.4</td><td>5.1</td><td>9</td></tr>
 <tr><td>Mental Illness</td><td>Temperate</td><td>Flat</td><td>0.5</td><td>0.6</td><td>1.4</td><td>5</td></tr>
 <tr><td>Mental Retardation</td><td>Temperate</td><td>Mountain</td><td>0.6</td><td>1.6</td><td>3.2</td><td>11.3</td></tr>
 <tr><td>Mental Retardation</td><td>Temperate</td><td>Flat</td><td>0.2</td><td>0.6</td><td>1.3</td><td>7.3</td></tr>
 <tr><td>Mental Retardation</td><td>Urban</td><td>*</td><td>0.2</td><td>0.5</td><td>2.3</td><td>6.1</td></tr>
 <tr><td>Mountian Biker</td><td>Temperate</td><td>*</td><td>3.1</td><td>4</td><td>11.3</td><td>25</td></tr>
 <tr><td>Other</td><td>*</td><td>*</td><td>0.5</td><td>2.6</td><td>5.7</td><td>13.4</td></tr>
 <tr><td>Runner</td><td>*</td><td>*</td><td>1.4</td><td>2.6</td><td>3.4</td><td>5.8</td></tr>
 <tr><td>Skier</td><td>*</td><td>*</td><td>1.1</td><td>2.7</td><td>4.8</td><td>15.2</td></tr>
 <tr><td>Snowboarder</td><td>*</td><td>*</td><td>1.6</td><td>3.2</td><td>6.2</td><td>15.4</td></tr>
 <tr><td>Substance Abuse</td><td>*</td><td>*</td><td>0.3</td><td>0.7</td><td>2.6</td><td>6</td></tr>
 <tr><td>Vehicle</td><td>*</td><td>*</td><td>2</td><td>5</td><td>12.6</td><td>62.7</td></tr>
 <tr><td>Water-Related</td><td>*</td><td>*</td><td>0.2</td><td>1.5</td><td>5</td><td>10.7</td></tr>
 <tr><td>Worker</td><td>*</td><td>*</td><td>1</td><td>1.9</td><td>3.2</td><td>11.8</td></tr>
</tbody></table>
<table name="featureTable" id="featureTable" style="display: none;">
<thead><tr class="tableizer-firstrow"><th>Angler</th><th>*</th><th>13</th><th>13</th><th>19</th><th>6</th><th>38</th><th>&nbsp;</th><th>6</th><th>6</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>ATV</td><td>*</td><td>22</td><td>11</td><td>11</td><td>&nbsp;</td><td>11</td><td>&nbsp;</td><td>11</td><td>11</td><td>11</td><td>11</td></tr>
 <tr><td>Autistic</td><td>Temperate </td><td>45</td><td>18</td><td>&nbsp;</td><td>&nbsp;</td><td>9</td><td>&nbsp;</td><td>9</td><td>9</td><td>9</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>70</td><td>20</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Camper</td><td>Temperate </td><td>&nbsp;</td><td>36</td><td>27</td><td>9</td><td>9</td><td>&nbsp;</td><td>&nbsp;</td><td>18</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>&nbsp;</td><td>29</td><td>14</td><td>29</td><td>&nbsp;</td><td>14</td><td>&nbsp;</td><td>14</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Child (1-3)</td><td>Temperate </td><td>29</td><td>5</td><td>14</td><td>9</td><td>10</td><td>1</td><td>2</td><td>13</td><td>6</td><td>1</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>56</td><td>12</td><td>7</td><td>4</td><td>3</td><td>&nbsp;</td><td>3</td><td>8</td><td>8</td><td>&nbsp;</td></tr>
 <tr><td>Child (4-6)</td><td>Temperate </td><td>29</td><td>5</td><td>14</td><td>9</td><td>10</td><td>1</td><td>2</td><td>13</td><td>6</td><td>1</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>56</td><td>12</td><td>7</td><td>4</td><td>3</td><td>&nbsp;</td><td>3</td><td>8</td><td>8</td><td>&nbsp;</td></tr>
 <tr><td>Child (7-9)</td><td>Temperate </td><td>29</td><td>5</td><td>14</td><td>9</td><td>10</td><td>1</td><td>2</td><td>13</td><td>6</td><td>1</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>56</td><td>12</td><td>7</td><td>4</td><td>3</td><td>&nbsp;</td><td>3</td><td>8</td><td>8</td><td>&nbsp;</td></tr>
 <tr><td>Child (10-12)</td><td>Temperate </td><td>29</td><td>5</td><td>14</td><td>9</td><td>10</td><td>1</td><td>2</td><td>13</td><td>6</td><td>1</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>56</td><td>12</td><td>7</td><td>4</td><td>3</td><td>&nbsp;</td><td>3</td><td>8</td><td>8</td><td>&nbsp;</td></tr>
 <tr><td>Child (13-15)</td><td>Temperate </td><td>25</td><td>21</td><td>13</td><td>8</td><td>8</td><td>&nbsp;</td><td>2</td><td>19</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>80</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Climber</td><td>*</td><td>&nbsp;</td><td>&nbsp;</td><td>18</td><td>9</td><td>27</td><td>&nbsp;</td><td>9</td><td>9</td><td>27</td><td>&nbsp;</td></tr>
 <tr><td>Dementia</td><td>Temperate </td><td>20</td><td>18</td><td>9</td><td>9</td><td>7</td><td>6</td><td>&nbsp;</td><td>17</td><td>14</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>35</td><td>36</td><td>9</td><td>4</td><td>6</td><td>1</td><td>&nbsp;</td><td>3</td><td>6</td><td>&nbsp;</td></tr>
 <tr><td>Gatherer</td><td>*</td><td>&nbsp;</td><td>30</td><td>30</td><td>20</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>&nbsp;</td><td>10</td></tr>
 <tr><td>Hiker</td><td>Temperate </td><td>13</td><td>13</td><td>25</td><td>12</td><td>8</td><td>2</td><td>3</td><td>7</td><td>14</td><td>4</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>24</td><td>35</td><td>18</td><td>6</td><td>12</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td></tr>
 <tr><td>Hunter</td><td>*</td><td>8</td><td>33</td><td>12</td><td>10</td><td>20</td><td>&nbsp;</td><td>2</td><td>12</td><td>&nbsp;</td><td>2</td></tr>
 <tr><td>Mental Illness</td><td>Temperate </td><td>15</td><td>24</td><td>24</td><td>6</td><td>18</td><td>&nbsp;</td><td>3</td><td>6</td><td>6</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>65</td><td>8</td><td>&nbsp;</td><td>8</td><td>8</td><td>&nbsp;</td><td>&nbsp;</td><td>8</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Mental Retardation</td><td>Temperate </td><td>24</td><td>12</td><td>2</td><td>5</td><td>7</td><td>7</td><td>2</td><td>31</td><td>7</td><td>2</td></tr>
 <tr><td>&nbsp;</td><td>Urban</td><td>57</td><td>23</td><td>3</td><td>7</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Mountian Biker</td><td>*</td><td>14</td><td>7</td><td>36</td><td>14</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>7</td><td>14</td><td>&nbsp;</td></tr>
 <tr><td>Other</td><td>*</td><td>12</td><td>41</td><td>35</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Runner</td><td>*</td><td>&nbsp;</td><td>29</td><td>29</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>14</td><td>29</td><td>&nbsp;</td></tr>
 <tr><td>Skier</td><td>*</td><td>10</td><td>&nbsp;</td><td>30</td><td>20</td><td>&nbsp;</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>20</td></tr>
 <tr><td>Substance Abuse</td><td>*</td><td>35</td><td>25</td><td>&nbsp;</td><td>15</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>5</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Vehicle</td><td>*</td><td>24</td><td>40</td><td>10</td><td>9</td><td>3</td><td>4</td><td>6</td><td>1</td><td>&nbsp;</td><td>1</td></tr>
 <tr><td>Water-Related</td><td>&nbsp;</td><td>11</td><td>2</td><td>&nbsp;</td><td>&nbsp;</td><td>83</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td></tr>
 <tr><td>Worker</td><td>*</td><td>25</td><td>&nbsp;</td><td>25</td><td>&nbsp;</td><td>25</td><td>&nbsp;</td><td>&nbsp;</td><td>25</td><td>&nbsp;</td><td></td></tr>
</tbody></table>