{% block content %}
{% include "dataTables.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body id='body' onload="onLoad()">    
    <div onmousedown="onClick(event)" onmousemove="onMouseHover(event)">
    <div id='toolTipBox' style="z-index:2001;" class="toolTip"></div>
    <span id="status"></span>
    <button id="Sat." onclick="showSat()" class="buttonMapSat" style="z-index:1998; top:10px;"> Sat.</button>
    <button id="Map."  onclick="hideSat()" class="buttonMapSat" style="z-index:1998; top:70px;"> Map</button>
    <button id="Home."  onclick="goHome()" class="buttonMapSat" style="z-index:1998; top:130px;"> Home</button>
    <fieldset id="menuMinMap" style="z-index:1998" class="menuMinMap">
        <h1>Temporary Dev Menu</h1>
        <button onclick="satLayer.setVisible(true)" class="buttonMap">Satellite</button> 
        <button onclick="satLayer.setVisible(false)" class="buttonMap">Map</button><br>
        <input type="checkbox" id="streets" name="Streets" value="b">
        <label for="Streets"> Street overlay</label><br>
        <input type="checkbox" id="terrain" name="Terrain" value="c">
        <label for="Terrian"> Terrain overlay</label><br>
        <input type="checkbox" id="ranges" name="Ranges" value="a">
        <input type="checkbox" id="grid" name="Ranges" value="d">
        <label for="track">track position<input id="track" type="checkbox"/></label>
        <button  id="AjaxT" name="AjaxT" class="AjaxT">Update Tracking</button> 
    </fieldset>
    <div class="menuMainSet" id="menuMainSet" style="z-index:3001">
        <button class="circleMenuCenter" id="cMenuMain" onclick="hideMenuMain()" style="z-index:3001">Close Menu</button>
        <button class="circleMenuOuter" id="cMenuN" onclick="showAssignMenu()" style="z-index:3001">Assign</button>
        <button class="circleMenuOuter" id="cMenuNE"  onclick="openMenuFeature()"style="z-index:3001">Features</button>
        <button class="circleMenuOuter" id="cMenuE" onclick="openMenuSegment()" style="z-index:3001">Segment</button>
        <button class="circleMenuOuter" id="cMenuSE"  style="z-index:3001">Spare</button>
        <button class="circleMenuOuter" id="cMenuS"  style="z-index:3001">Options</button>
        <button class="circleMenuOuter" id="cMenuSW" onclick="openMenuLayers()" style="z-index:3001" >Layers</button>
        <button class="circleMenuOuter" id="cMenuW"  style="z-index:3001">Profile</button>
        <button class="circleMenuOuter" id="cMenuNW" onclick="openMenuIndicate()" style="z-index:3001">Indicate</button>
    </div>
    <div class="menuLayersSet" id="menuLayerSet" style="z-index:3001">
        <button class="circleMenuCenter" id="lMenuMain"  onclick= "layerMenuBack()" style="z-index:3001; font-size:35px">Main Menu</button>
        <button class="circleMenuOuter" id="lMenuN" onclick= "toggleStreets()" style="z-index:3001">Streets</button>
        <button class="circleMenuOuter" id="lMenuNE" onclick= "toggleTerrain()"  style="z-index:3001">Terrain</button>
        <button class="circleMenuEmpty" id="lMenuE"  style="z-index:3001"></button>
        <button class="circleMenuEmpty" id="lMenuSE"  style="z-index:3001"></button>
        <button class="circleMenuOuter" id="lMenuS" onclick= " hideLayerMenu()"  style="z-index:3001">Close Menu</button>
        <button class="circleMenuOuter" id="lMenuSW" onclick= "showGridMenu()"  style="z-index:3001" >Grid Options</button>
        <button class="circleMenuOuter" id="lMenuW" onclick= "toggleGrid()"  style="z-index:3001">Grid</button>
        <button class="circleMenuOuter" id="lMenuNW" onclick= "toggleSRanges()" style="z-index:3001">Search Ranges</button>
    </div>
    <div class="menuSegmentSet" id="menuSegmentSet" style="z-index:3001">
        <button class="circleMenuCenter" id="sMenuMain"  onclick= "segmentMenuBack()" style="z-index:3001; font-size:35px">Main Menu</button>
        <button class="circleMenuOuter" id="sMenuNW"  style="z-index:3001">Auto-Segment</button>
        <button class="circleMenuOuter" id="sMenuN" onclick="drawSegment()"  style="z-index:3001">Draw Segment</button>
        <button class="circleMenuOuter" id="sMenuNE" onclick="editSegment()" style="z-index:3001">Edit Segment</button>
        <button class="circleMenuEmpty" id="sMenuSE"  style="z-index:3001"></button>
        <button class="circleMenuOuter" id="sMenuS" onclick= " hideSegmentMenu()"  style="z-index:3001">Close Menu</button>
        <button class="circleMenuOuter" id="sMenuW" onclick= "grid2Seg()"  style="z-index:3001">Grid Segments</button>
        <button class="circleMenuOuter" id="sMenuSW"  onclick= "showGridMenu()" style="z-index:3001">Grid Options</button>
        <button class="circleMenuEmpty" id="sMenuE"  style="z-index:3001"></button>
    </div>
    <div class="menuFeatureSet" id="menuFeatureSet" style="z-index:3001">
        <button class="circleMenuCenter" id="fMenuMain"  onclick= "featureMenuBack()" style="z-index:3001; font-size:35px">Main Menu</button>
        <button class="circleMenuOuter" id="fMenuN" onclick="addMarker()" style="z-index:3001">Place Feature</button>
        <button class="circleMenuEmpty" id="fMenuNE"  style="z-index:3001"></button>
        <button class="circleMenuEmpty" id="fMenuE"style="z-index:3001"></button>
        <button class="circleMenuEmpty" id="fMenuSE"  style="z-index:3001"></button>
        <button class="circleMenuOuter" id="fMenuS" onclick= " hideFeatureMenu()" style="z-index:3001">Close Menu</button>
        <button class="circleMenuEmpty" id="fMenuSW" style="z-index:3001" ></button>
        <button class="circleMenuEmpty" id="fMenuW"  style="z-index:3001"></button>
        <button class="circleMenuEmpty" id="fMenuNW"  style="z-index:3001"></button>
    </div>
    <div class="menuIndicateSet" id="menuIndicateSet" style="z-index:3001">
        <button class="circleMenuCenter" id="iMenuMain"  onclick= "indicateMenuBack()" style="z-index:3001; font-size:35px">Main Menu</button>
        <button class="circleMenuOuter" id="iMenuN" onclick="drawDraw('Pen')" style="z-index:3001">Pen</button>
        <button class="circleMenuOuter" id="iMenuNE" onclick="drawDraw('Square')" style="z-index:3001">Square</button>
        <button class="circleMenuOuter" id="iMenuE" onclick="drawDraw('Circle')" style="z-index:3001">Circle</button>
        <button class="circleMenuOuter" id="iMenuSE" onclick= "undoDraw()" style="z-index:3001">Undo</button>
        <button class="circleMenuOuter" id="iMenuS" onclick= "hideIndicateMenu()" style="z-index:3001">Close Menu</button>
        <button class="circleMenuEmpty" id="iMenuSW" style="z-index:3001" ></button>
        <button class="circleMenuEmpty" id="iMenuW" style="z-index:3001"></button>
        <button class="circleMenuOuter" id="iMenuNW"  onclick="drawDraw('LineString')" style="z-index:3001">Line</button>
    </div>
    <div class= "segmentEditMenu" id= "segmentEditMenu" style="z-index:3002">
        <label for="segName">Segment Name</label>
        <input type="text" id="segName" name="segName"><br><br>
        <button id="redSel"class="colorSelectRed" onclick="updateSegCol('red')"></button> 
        <button id="yellowSel" class="colorSelectYellow" onclick="updateSegCol('yellow')"></button> 
        <button id="greenSel" class="colorSelectGreen" onclick="updateSegCol('green')"></button> <br><br>
        <button id="modify" onclick="editSegment()">modify</button> 
        <button id="delete" onclick="deleteSeg()">delete</button> <br><br>
        <button id="close" onclick= "hideSegmentEditMenu()">close</button>
    </div>
    <div class= "segmentEditMenu" id= "markerEditMenu" style="z-index:3002">
        <label for="markerName">Feature Name</label>
        <input type="text" id="markerName" name="markerName"><br><br>
        <select name="Resource" id="Resource">
            <option value="structure">Structure</option>
            <option value="road">Road</option>
            <option value="linear">Linear Feature</option>
            <option value="drain">Drainage</option>
            <option value="water">Water</option>
            <option value="brush">Brush</option>
            <option value="scrub">Scrub</option>
            <option value="woods">Woods</option>
            <option value="field">Field</option>
            <option value="rock">Rock</option>
        </select> <br><br>
        <button id="delete" onclick="deleteMarker()">delete</button> <br><br>
        <button id="close" onclick= "hideMarkerEditMenu()">close</button>
    </div>       
    <div class= "segmentEditMenu" id= "gridOptions" style="z-index:3002">
        <label for="segName">Grid Square Length</label>
        <input type="text" id="gridSize" name="gridSize">
        <button id="close" onclick= "hideGridMenu()">close menu</button>
    </div>

    <div class= "assignSidebar" id= "assignSidebar" style="z-index:3003">
        <label for="resourceName">Resource ID</label>
        <input type="text" id="resourceName" name="resourceName" style="width:90%; align:center"></input><br><br>
        <select  name="resourceType" id="resourceType" style="">
            <option value="squad">Foot Squad</option>
            <option value="k9">K9</option>
            <option value="bike">Bike</option>
            <option value="vehicle">Land Vehicle</option>
            <option value="done">Drone</option>
            <option value="heli">Helicopter</option>
            <option value="other">Other</option>
        </select>
        <button id="newResource" onclick= "addResource()" name="newResource">New Resource</button><br><br>
        <fieldset name="resourceList" class="resourceList" id="resourceList"></fieldset>
    </div>

    <button class="assignToggle" id="assignToggle" onclick="toggleAssignMenu()"> > </button>
    <div class"assignHelper" id="assignHelper" style = "width: 100%; height: 100%; z-index: 1000; position: absolute; display: none"></div>
</body>

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <div id="map" width=window.innerWidth height=window.innerHeight class="map" style="z-index:1 position:absolute left:0 top:0"></div>
    <span id="status"></span>   
    <script type="text/javascript">
        var mouseState = 0;
        // mouse states: 0 - default 1 - drawing 2 - gemoetry edit 3 - marker maker 4-zoomed in 5- dragging
        var key = 'pk.eyJ1IjoibWFycWkiLCJhIjoiY2tsN2U3eDhrMDU0YzMxcHNzYm96Z2VsdyJ9.ttzqAmH0t8YNXZAvzEmTxA';   
        var source = new ol.source.Vector({wrapX: false});
        var vector = new ol.layer.Vector({source: source,zIndex: 50,format: new ol.format.GeoJSON(),});

        {% for data in projData %}
                var projCode = "{{data.name}}"
                var ipp = "{{data.ipp}}"
                var projClass = "{{data.searchClass}}"
                //var projNotes = "{{data.notes}}"
        {% endfor %}
        ////////////////regex stuff///////////////////
        let reLonLat = /-?[0-9]\d*(\.\d+),-?[0-9]\d*(\.\d+)/ ;
        var num = reLonLat.exec(ipp)
        var coordsHome = num[0].split(',');
        coordsHome[0] = parseFloat(coordsHome[0]);
        coordsHome[1] = parseFloat(coordsHome[1]);

        //////////////////////////////////////////////////////////////
        function goHome(){
            view.setCenter( ol.proj.fromLonLat(coordsHome));
            view.setZoom(15);
        };
        var view = new ol.View({
            center: ol.proj.fromLonLat(coordsHome),
            zoom: 15
        });
        var geolocation = new ol.Geolocation({
        // enableHighAccuracy must be set to true to have the heading value.
            trackingOptions: {
                enableHighAccuracy: true,
            },
            projection: view.getProjection(),
        });
        function el(id) {
            return document.getElementById(id);
        }
        el('track').addEventListener('change', function () {
            geolocation.setTracking(this.checked);
        });

        var positionFeature = new ol.Feature();
        positionFeature.setStyle(
            new ol.style.Style({
                image: new ol.style.Circle({
                radius: 6,
                fill: new ol.style.Fill({
                    color: '#3399CC',
                }),
                stroke: new ol.style.Stroke({
                    color: '#fff',
                    width: 2,
                }),
                }),
            })
        );
        var map = new ol.Map({
            target: 'map',
            layers: [
            vector,
            new ol.layer.Tile({source: new ol.source.OSM({ features: [positionFeature]}),zIndex: 1, className: 'mapp'})
            ],
            view: view,
        });
        var satLayer = new ol.layer.Tile({source: new ol.source.XYZ({url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',maxZoom: 19}),zIndex: 2, className: 'sat'});
        map.addLayer(satLayer);
        var streetsL = new ol.layer.VectorTile({
            declutter: true,
            zIndex: 51,
            name: 'streetsL',
            opacity: 1,
            source: new ol.source.VectorTile({
                attributions:
                '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> ' +
                '© <a href="https://www.openstreetmap.org/copyright">' +
                'OpenStreetMap contributors</a>',
                format: new ol.format.MVT(),
                url:
                'https://{a-d}.tiles.mapbox.com/v4/mapbox.mapbox-streets-v8/' +
                '{z}/{x}/{y}.vector.pbf?access_token=' +
                key,
            })
            });
        map.addLayer(streetsL);

        var terrainL = new ol.layer.MapboxVector({
            declutter: true,
            zIndex: 51,
            className: 'terrainL',
            opacity: 1,
            styleUrl:'mapbox://styles/marqi/cklhwqmyl0zn517o1llp1rdrj',
            accessToken: key,
            })
        
        map.addLayer(terrainL);

        function vectorLayerListener() {
            var streetSelect = document.getElementById('streets').checked;
            var terrainSelect = document.getElementById('terrain').checked;
            var rangeSelect = document.getElementById('ranges').checked;
            var gridSelect = document.getElementById('grid').checked;
            if (streetSelect == false) {
                streetsL.setVisible(false);
            };
            if (streetSelect !== false) {
                streetsL.setVisible(true);
            };
            if (terrainSelect == false) {
                terrainL.setVisible(false);
            };
            if (terrainSelect !== false) {
                terrainL.setVisible(true);
            };
            if (rangeSelect == false) {
                rangeLayer.setVisible(false);
            };
            if (rangeSelect !== false) {
                rangeLayer.setVisible(true);
            };
            if (gridSelect == false) {
                gridLayer.setVisible(false);
            };
            if (gridSelect !== false) {
                gridLayer.setVisible(true);
            };
        };

        document.getElementById('streets').onchange = function () {
            vectorLayerListener();
        }
        document.getElementById('terrain').onchange = function () {
            vectorLayerListener();
        }
        document.getElementById('ranges').onchange = function () {
            vectorLayerListener();
        }
        function toggleStreets(){
            if (document.getElementById("streets").checked ==true){
                document.getElementById("streets").checked =false;
                document.getElementById("lMenuN").classList.remove("circleMenuOuterActive");
            } else{
                document.getElementById("streets").checked =true;
                document.getElementById("lMenuN").classList.add("circleMenuOuterActive");
            }
            vectorLayerListener() ;   
        }
        function toggleTerrain(){
            if (document.getElementById("terrain").checked ==true){
                document.getElementById("terrain").checked =false;
                document.getElementById("lMenuNE").classList.remove("circleMenuOuterActive");
            } else{
                document.getElementById("terrain").checked=true;
                document.getElementById("lMenuNE").classList.add("circleMenuOuterActive");
            }
            vectorLayerListener() ;  
        }
        function toggleSRanges(){
            if (document.getElementById("ranges").checked ==true){
                document.getElementById("ranges").checked =false;
                document.getElementById("lMenuNW").classList.remove("circleMenuOuterActive");
            } else{
                document.getElementById("ranges").checked=true;
                document.getElementById("lMenuNW").classList.add("circleMenuOuterActive");
            }
            vectorLayerListener() ; 
        };
        function toggleGrid(){
            if (document.getElementById("grid").checked ==true){
                document.getElementById("grid").checked =false;
                document.getElementById("lMenuW").classList.remove("circleMenuOuterActive");
            } else{
                document.getElementById("grid").checked=true;
                document.getElementById("lMenuW").classList.add("circleMenuOuterActive");
            }
            vectorLayerListener() ;  
        };

/////////////////////////////////////////styles///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
        var markerStyle = new ol.style.Style({    
            image: new ol.style.Circle({
                radius: 5,
                fill: new ol.style.Fill({
                color: 'rgba(255,50, 255, 1)',
                }),
            }),
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 2,
            }),
        });

        var markerStyleHover = new ol.style.Style({    
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                color: 'rgba(255,50, 255, 1)',
                }),
            }),
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 2,
            }),
        });

        var segStyle = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'red',
            width: 2,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(255,100, 100, 0.1)',
            }),
        });
        var segStyleHover = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'red',
            width: 4,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(255,100, 100, 0.3)',
            }),
        });

        var segStyleYellow = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'yellow',
            width: 2,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(180,180, 100, 0.1)',
            }),
        });
        var segStyleYellowHover = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'yellow',
            width: 4,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(180,180, 100, 0.3)',
            }),
        });

        var segStyleGreen = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'green',
            width: 2,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(100,255, 100, 0.1)',
            }),
        });
        var segStyleGreenHover = new ol.style.Style({    
            stroke: new ol.style.Stroke({
            color: 'green',
            width: 4,
            }),
            fill: new ol.style.Fill({
            color: 'rgba(100,255, 100, 0.3)',
            }),
        });

        var hideStyle =  new ol.style.Style({    
        
        });

        var rangeStyle =  new ol.style.Style({    
            image: new ol.style.Circle({
                radius: 7,
                fill: new ol.style.Fill({
                color: 'yellow',
                }),
            }),
            stroke: new ol.style.Stroke({
            color: 'yellow',
            width: 3,
            lineDash: [10,12],
            }),
        });

        var rangeStyleHover =  new ol.style.Style({   
            image: new ol.style.Circle({
                radius: 12,
                fill: new ol.style.Fill({
                color: 'yellow',
                }),
            }), 
            stroke: new ol.style.Stroke({
            color: 'yellow',
            width: 7,
            lineDash: [10,12],
            }),
        });

        var trackingStyle =  new ol.style.Style({    
            image: new ol.style.Circle({
                radius: 5,
                fill: new ol.style.Fill({
                color: 'blue',
                }),
            }),
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 3,
            }),
        });

        var trackingStyleHover =  new ol.style.Style({   
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                color: 'blue',
                }),
            }), 
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 7,
            }),
        });

        var gridStyle =  new ol.style.Style({   
            image: new ol.style.Circle({
                radius: 2,
                fill: new ol.style.Fill({
                color: 'blue',
                }),
            }), 
            stroke: new ol.style.Stroke({
            color: 'black',
            width: 1,
            }),
        });

        var drawStyle =  new ol.style.Style({   
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 2,
            }),
            text: new ol.style.Text({
                text: ''
            }),
        });

        var drawStyleHover =  new ol.style.Style({   
            stroke: new ol.style.Stroke({
            color: 'blue',
            width: 7,
            }),
            text: new ol.style.Text({
                text: ''
            }),
        });
//////////////////////////////////////end styles//////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////


        ///////////// layer and source def's
        var sourceSeg = new ol.source.Vector({wrapX: false});
        var sourceMarker = new ol.source.Vector({wrapX: false});
        var sourceTracking = new ol.source.Vector({wrapX: false});
        var sourceTrackingLines = new ol.source.Vector({wrapX: false});
        var sourceSearchRanges = new ol.source.Vector({wrapX: false});
        var sourceGrid = new ol.source.Vector();
        var sourceIndicate= new ol.source.Vector({wrapX: false});


        var segLayer = new ol.layer.Vector({source: sourceSeg,style: segStyle,zIndex: 200});
        map.addLayer(segLayer);
        var markerLayer = new ol.layer.Vector({source: sourceMarker,style: markerStyle,zIndex: 201});
        map.addLayer(markerLayer);
        var trackingLayer = new ol.layer.Vector({source: sourceTracking,style: trackingStyle,zIndex: 200});
        map.addLayer(trackingLayer);
        var trackingLayer2 = new ol.layer.Vector({source: sourceTrackingLines,style: trackingStyle,zIndex: 201});
        map.addLayer(trackingLayer2);
        var rangeLayer= new ol.layer.Vector({source: sourceSearchRanges,style: rangeStyle,zIndex: 198});
        map.addLayer(rangeLayer);
        var gridLayer = new ol.layer.Vector({source: sourceGrid,style: gridStyle,zIndex: 197});
        map.addLayer(gridLayer);
        var indicateLayer = new ol.layer.Vector({source: sourceIndicate,style: drawStyle,zIndex: 202});
        map.addLayer(indicateLayer);

        var segColl = new ol.Collection();
        var markerColl = new ol.Collection();
        var trackingColl = new ol.Collection();
        var rangeColl = new ol.Collection();
        var indicateColl = new ol.Collection();

        var snap = new ol.interaction.Snap({
            source: sourceSeg,
        });

        var seg;
        var marker;
        var point;
        var modify;
        var draw;
    
        var dragPanInt;

        function removeMapInt(){
            map.getInteractions().forEach(function(interaction) {
                if (interaction instanceof ol.interaction.DragPan) {
                    dragPanInt = interaction;
                };
            }, this);
            
            if (dragPanInt) {
                map.removeInteraction(dragPanInt);
            };
        };

        const squareFun = new ol.interaction.Draw.createRegularPolygon(4);
        console.log(squareFun);

        function drawDraw(drawType){
            removeInteractions();
            removeMapInt();
            mouseState = 1;
            if (drawType == 'Pen'){
                draw = new ol.interaction.Draw({
                    type: 'LineString',
                    source: sourceIndicate,
                    features: indicateColl,
                    freehand: true,
                });
            }else if (drawType == 'LineString'){
                draw = new ol.interaction.Draw({
                    type: drawType,
                    source: sourceIndicate,
                    features: indicateColl,
                    maxPoints: 2,
                });
            }else if (drawType == 'Square'){
                draw = new ol.interaction.Draw({
                    type: drawType,
                    source: sourceIndicate,
                    features: indicateColl,
                    maxPoints: 4,
                    geometryFunction: new ol.interaction.Draw.createRegularPolygon(4),
                    freehand: true,
                });
            }else if (drawType == 'Circle'){
                draw = new ol.interaction.Draw({
                    type: drawType,
                    source: sourceIndicate,
                    features: indicateColl,
                    freehand: true,
                });    
            }else if (drawType == 'Text'){
                draw = new ol.interaction.Draw({
                    type: 'Point',
                    source: sourceIndicate,
                    features: indicateColl,
                });
                }else {
                draw = new ol.interaction.Draw({
                    type: drawType,
                    source: sourceIndicate,
                    features: indicateColl,
                    maxPoints: 2,
                });
            };
            map.addInteraction(draw);
        };

        function undoDraw(){
            var drawFeatList = sourceIndicate.getFeatures();
            sourceIndicate.removeFeature(drawFeatList[drawFeatList.length -1]);
        };
        function drawSegment(){
            removeInteractions();
            removeMapInt();
            mouseState = 1;
            seg = new ol.interaction.Draw({
                type: 'Polygon',
                source: sourceSeg,
                features: segColl,
            });
            map.addInteraction(seg);
            map.addInteraction(snap);
        };

        function addMarker(){
            removeInteractions();
            removeMapInt();
            mouseState = 3;
            marker = new ol.interaction.Draw({
                type: 'Point',
                source: sourceMarker,
                features: markerColl,
            });
            map.addInteraction(marker);
        };
        function editSegment(){
            removeInteractions ();
            mouseState = 2;
            modify = new ol.interaction.Modify({
                 features: segColl,
                 source: sourceSeg,
                 //hitDetection: true,
            });
            map.addInteraction(modify);
            //map.addInteraction(snap); 
        };
        function removeInteractions (){
            map.removeInteraction(seg);    
            map.removeInteraction(snap); 
            map.removeInteraction(modify);
            map.removeInteraction(marker);
            map.removeInteraction(draw);

            if (dragPanInt) {
                map.addInteraction(dragPanInt);
            };

            var glist = segColl.getArray();
            for (i = 0; i < glist.length; i++) {
                if ((typeof glist[i].getId() != "string") && (typeof glist[i].getId() != "number")){
                    glist[i].setId(i);
                    glist[i].setStyle(segStyle);
                };
            };
            glist = markerColl.getArray();
            for (i = 0; i < glist.length; i++) {
                if ((typeof glist[i].getId() != "string") && (typeof glist[i].getId() != "number")){
                    glist[i].setId(i);
                };
            };
            mouseState=0;
        };

        {% comment %} document.getElementById("mouseState").addEventListener("change", function(){
            if (mouseState == 0){
                map.addInteraction(ol.interaction.DragPan);
                map.addInteraction(ol.interaction.DoubleClickZoom);
                map.addInteraction(ol.interaction.MouseWheelZoom);
                map.addInteraction(ol.interaction.KeyboardZoom);
                map.addInteraction(ol.interaction.DragZoom);
            }else{
                map.removeInteraction(ol.interaction.DragPan);
                map.removeInteraction(ol.interaction.DoubleClickZoom);
                map.removeInteraction(ol.interaction.MouseWheelZoom);
                map.removeInteraction(ol.interaction.KeyboardZoom);
                map.removeInteraction(ol.interaction.DragZoom);
            };
        }); {% endcomment %}
        
        var selected = null;
        var status = document.getElementById('status');
        var highlightLayers = [segLayer];
        var tipBox = document.getElementById('toolTipBox');
        var hovering= false;

        function checkFeat (feat,hoverArray){
            if(hoverArray.includes(feat) && mouseState == 0){
                if (feat.getStyle()==segStyle || feat.getStyle()==segStyleHover ){
                    feat.setStyle(segStyleHover ); 
                }else if (feat.getStyle()==segStyleYellow || feat.getStyle()==segStyleYellowHover){
                    feat.setStyle(segStyleYellowHover ); 
                }else if (feat.getStyle()==segStyleGreen || feat.getStyle()==segStyleGreenHover){
                    feat.setStyle(segStyleGreenHover ); 
                };
                var polygon = feat.getGeometry();
                var ext = polygon.getExtent();
                var coords = ol.proj.toLonLat(ol.extent.getCenter(ext));
                tipBox.style.display = 'block';
                tipBox.innerHTML = feat.getId() + "<br />" + coords ;
                hovering = true;
                selected = feat;
            } else{
                if (feat.getStyle()==segStyle || feat.getStyle()==segStyleHover ){
                    feat.setStyle(segStyle); 
                }else if (feat.getStyle()==segStyleYellow || feat.getStyle()==segStyleYellowHover){
                    feat.setStyle(segStyleYellow); 
                }else if (feat.getStyle()==segStyleGreen || feat.getStyle()==segStyleGreenHover){
                    feat.setStyle(segStyleGreen); 
                };
            }; 
        };
        function checkMarker (feat,hoverArray){
            if(hoverArray.includes(feat) && mouseState == 0){
                var point = feat.getGeometry();
                var coords = point.getCoordinates();
                tipBox.style.display = 'block';
                tipBox.innerHTML =  feat.getId() + "<br />" + coords ;
                hovering = true;
                feat.setStyle(markerStyleHover);
            }else{
                feat.setStyle(markerStyle); 
            };
        };
        function checkTracking(feat,hoverArray){
            if(hoverArray.includes(feat) && mouseState == 0){
                var point = feat.getGeometry();
                var coords = point.getCoordinates();
                tipBox.style.display = 'block';
                tipBox.innerHTML =  feat.getId() + "<br />" + coords ;
                hovering = true;
                feat.setStyle(trackingStyleHover);  
            }else{
                zoomLevel = map.getView().getZoom();
                var geomType = feat.getGeometry();
                geomtype = geomType.getCoordinates();
                if (geomtype.length > 2){
                    geomType='line';
                };
                if (zoomLevel >= 15 && geomType == 'line'){
                    feat.setStyle(hideStyle);
                }else if(zoomLevel >= 15 && geomType != 'line'){    
                    feat.setStyle(trackingStyle);
                }else if(zoomLevel < 15 && geomType != 'line'){    
                    feat.setStyle(hideStyle);
                }else{    
                    feat.setStyle(trackingStyle);
                };
            };
        };

        function checkRanges(feat,hoverArray){
            if(hoverArray.includes(feat) && mouseState == 0){
                var point = feat.getGeometry();
                var coords = point.getCoordinates();
                tipBox.style.display = 'block';
                tipBox.innerHTML =  feat.getId() + "<br />" + coords ;
                hovering = true;
                feat.setStyle(rangeStyleHover);
            }else{
                feat.setStyle(rangeStyle); 
            };
        };

        function checkIndicate(feat,hoverArray){
            if(hoverArray.includes(feat)){
                hovering = true;
                feat.setStyle(drawStyleHover);
            }else{
                feat.setStyle(drawStyle); 
            };
        };

        function checkFeatFocus (feat,hoverArray){
            if(hoverArray.includes(feat)){
                var polygon = feat.getGeometry();
                var size = map.getSize();
                var ext = polygon.getExtent();
                var coords = ol.extent.getCenter(ext);
                view.setCenter(coords);
                view.fit(ext, {size: size, padding: [100, 100, 100, 100],});
                currentSegmentID = feat.getId();
                showSegmentEditMenu();
            };
        };
        function checkMarkerClick (feat,hoverArray){
            if(hoverArray.includes(feat)){
                currentMarkerID = feat.getId();
                showMarkerEditMenu();
            };
        };

        //,layerFilter = (layerName => checkLayer(layerName))
        function onMouseHover(e){
            if (mouseState == 0){
                hovering = false;
                tipBox.innerHTML= '';

                var hoverArray = map.getFeaturesAtPixel([e.clientX,e.clientY]);
                var segArray = segColl.getArray();
                segArray.forEach(feature => checkFeat(feature,hoverArray));
                var markerArray = markerColl.getArray();
                markerArray.forEach(feature => checkMarker(feature,hoverArray));
                var trackingArray = trackingColl.getArray();
                trackingArray.forEach(feature => checkTracking(feature,hoverArray));
                var rangeArray = rangeColl.getArray();
                rangeArray.forEach(feature => checkRanges(feature,hoverArray));
                var drawArray = indicateColl.getArray();
                drawArray.forEach(feature => checkIndicate(feature,hoverArray));

                tipBox.style.left= e.clientX ;
                tipBox.style.top= e.clientY - 40;
                if (hovering==false){tipBox.style.display = 'none'};
            };
        };
        function onClick(e) {

            if (e.button==2){
                mouseState = 0 ;
                removeInteractions();
            }else if(e.button==0  && mouseState == 0){
                removeInteractions();
                var hoverArray = map.getFeaturesAtPixel([e.clientX,e.clientY]);
                var markerArray = markerColl.getArray();
                markerArray.forEach(feature => checkMarkerClick(feature,hoverArray));
                if (document.getElementById("markerEditMenu").style.display=="none"){
                    var segArray = segColl.getArray();
                    segArray.forEach(feature => checkFeatFocus(feature,hoverArray));
                };
            };
        };

        document.getElementById("segName").addEventListener('change',updateSegName);

        function updateSegName(){
            var newValue = document.getElementById("segName").value;
            getFeatfromID(currentSegmentID);
            currentFeat.setId(newValue);
        };

        document.getElementById("markerName").addEventListener('change',updateMarkerName);

        function updateMarkerName(){
            var newValue = document.getElementById("markerName").value;
            getMarkerfromID(currentMarkerID);
            currentFeat.setId(newValue);
        };
        document.getElementById("gridSize").addEventListener('change',updateGridSize);

        function updateGridSize(){
            gridsize = document.getElementById("gridSize").value;
            drawGrid();
        };

        function deleteSeg(){
            getFeatfromID(currentSegmentID);
            sourceSeg.removeFeature(currentFeat);
            hideSegmentEditMenu();
        };
        function deleteMarker(){
            getMarkerfromID(currentMarkerID);
            sourceMarker.removeFeature(currentFeat);
            hideMarkerEditMenu();
        };

        function getFeatfromID(ID){
            var segArray = segColl.getArray();
            segArray.forEach(feature => getFeathelper(feature));
        };

        function getMarkerfromID(ID){
            var markerArray = markerColl.getArray();
            markerArray.forEach(feature => getMarkerhelper(feature));
        };
        function getFeathelper(feature){
            if(feature.getId()==currentSegmentID){currentFeat = feature};
        };
        function getMarkerhelper(feature){
            if(feature.getId()==currentMarkerID){currentFeat = feature};
        };
        function updateSegCol(newColour){
            getFeatfromID(currentSegmentID);
            if (newColour == "red"){
                currentFeat.setStyle(segStyle);
            }else if (newColour == "yellow"){
                currentFeat.setStyle(segStyleYellow);
            }else if (newColour == "green"){
                currentFeat.setStyle(segStyleGreen);
            };
        };

        function hideSat(){
            satLayer.setVisible(false)
            var ele = document.getElementById("Sat.");
            ele.classList.remove("buttonMapSatActive");
            var ele = document.getElementById("Map.");
            ele.classList.add("buttonMapSatActive");
        };
        function showSat(){
            satLayer.setVisible(true)
            var ele = document.getElementById("Sat.");
            ele.classList.add("buttonMapSatActive");
            var ele = document.getElementById("Map.");
            ele.classList.remove("buttonMapSatActive");
        };
        /////////////// tracking point stuff

        var names = [];
        var lats = [];
        var lons = [];
        var lines = [];
        var stats = [];
        var message = [];
        var assign = [];
        var time = [];

        function buildTrackSet(){
            names = [];
            lats = [];
            lons = [];
            lines = [];
            stats = [];
            message = [];
            assign = [];
            time = [];

            {% for point in trackPoints %}
                names.push("{{point.name}}");
                lats.push("{{point.Lat}}");
                lons.push("{{point.Lon}}");
                stats.push("{{point.status}}");
                message.push("{{point.message}}");
                assign.push("{{point.assign}}");
                time.push("{{point.dateTime}}")

            {% endfor %}
            trackingColl.clear();
            updateResourceList();
            for (i = 0; i < names.length; i++) {
                var tempTrack = new ol.Feature( new ol.geom.Point(ol.proj.fromLonLat([lons[i],lats[i]])));
                sourceTracking.addFeature(tempTrack);
                trackingColl.push(tempTrack);
                if (names.slice(0, (i-1)).includes(names[i])==false){
                    var tempLine = new ol.geom.LineString ([]);
                    var lineFeature =new ol.Feature(tempLine);
                    lineFeature.setId(names[i]);
                    lines.push(lineFeature);
                    trackingColl.push(lineFeature);
                }else{
                    for (j = 0; j < lines.length; j++) {
                        if (lines[j].getId()==names[i]){
                            var tempLineGeom = lines[j].getGeometry();
                            tempLineGeom.appendCoordinate(ol.proj.fromLonLat([lons[i],lats[i]]));
                        };
                    }
                };

                
            }; 
            for (k = 0; k < lines.length; k++) {
                sourceTrackingLines.addFeature(lines[k]);
            };
        
        };

        function buildTrackSet2(data){
            names = [];
            lats = [];
            lons = [];
            lines = [];
            stats = [];
            message = [];
            assign = [];
            time = [];
            for (i = 0; i < data.length; i++){
                var dataT = data[i];
                names.push(dataT[1]);
                lats.push(dataT[2]);
                lons.push(dataT[3]);
                stats.push(dataT[4]);
                message.push(dataT[5]);
                assign.push(dataT[6]);
                time.push(dataT[7]);
            };
            trackingColl.clear();
            updateResourceList();
            for (i = 0; i < names.length; i++) {
                var tempTrack = new ol.Feature( new ol.geom.Point(ol.proj.fromLonLat([lons[i],lats[i]])));
                sourceTracking.addFeature(tempTrack);
                trackingColl.push(tempTrack);
                if (names.slice(0, (i-1)).includes(names[i])==false){
                    var tempLine = new ol.geom.LineString ([]);
                    var lineFeature =new ol.Feature(tempLine);
                    lineFeature.setId(names[i]);
                    lines.push(lineFeature);
                    trackingColl.push(lineFeature);
                }else{
                    for (j = 0; j < lines.length; j++) {
                        if (lines[j].getId()==names[i]){
                            var tempLineGeom = lines[j].getGeometry();
                            tempLineGeom.appendCoordinate(ol.proj.fromLonLat([lons[i],lats[i]]));
                        };
                    }
                };

                
            }; 
            for (k = 0; k < lines.length; k++) {
                sourceTrackingLines.addFeature(lines[k]);
            };
        
        };
        ////// map zoom logger
        var zoomLevel = map.getView().getZoom();
        map.on('moveend', function(e) {
            console.log(zoomLevel);
            zoomLevel = map.getView().getZoom();
            var trackingArray = trackingColl.getArray();
            trackingArray.forEach(feature => checkTracking(feature,[]));
            if (zoomLevel >=14){
                mouseState = 4;
            };
            if (zoomLevel <14){
                removeInteractions();
                mouseState = 0;
            };
        });

        //////////////// draw search ranges
        function drawSearchRange() {
            var rangeTable = document.getElementById('rangeTable');
            for (i = 0; i < rangeTable.rows.length; i++){
                var rowData = rangeTable.rows.item(i).cells;
                if (rowData[0].innerHTML==projClass){
                    console.log(rowData);
                    var distanceData = [];
                    for (j=0; j<4; j++){
                        distanceData[j]= rowData[j+3].innerHTML;
                    };
                    distance3=distanceData[2];
                    console.log(distanceData);
                };
            };
            var tempTrackk = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coordsHome)));
            rangeColl.push(tempTrackk);
            sourceMarker.addFeature(tempTrackk);
            for (j=0; j<4; j++){
                tempTrackk = new ol.Feature(new ol.geom.Circle(ol.proj.fromLonLat(coordsHome)));
                var tempFeature = tempTrackk.getGeometry();
                tempFeature.setRadius((distanceData[j]*1600));
                sourceSearchRanges.addFeature(tempTrackk);
                rangeColl.push(tempTrackk);
            };

        };
        /////////// draw grids ///////////////////
        var gridsize = 1000;
        var gridnum = (gridsize*50)/1000;
        var distance3 = 1;
        function drawGrid(){
            sourceGrid.clear();
            for (i=(-gridnum); i<gridnum; i++){
                var tempHome  = ol.proj.fromLonLat(coordsHome);
                var px1 = tempHome [0]+(i*gridsize)+(gridsize/2);
                var py1 = tempHome [1]+(gridnum*gridsize)+(gridsize/2);
                var py2 = tempHome [1]-(gridnum*gridsize)-(gridsize/2);

                var tempGrid = new ol.Feature(new ol.geom.LineString([[px1,py1],[px1,py2]]));
                sourceGrid.addFeature(tempGrid);

            };
            for (i=(-gridnum); i<gridnum; i++){
                var tempHome  = ol.proj.fromLonLat(coordsHome);
                var py1 = tempHome [1]+(i*gridsize)+(gridsize/2);
                var px1 = tempHome [0]+(gridnum*gridsize)+(gridsize/2);
                var px2 = tempHome [0]-(gridnum*gridsize)-(gridsize/2);

                var tempGrid = new ol.Feature(new ol.geom.LineString([[px1,py1],[px2,py1]]));
                sourceGrid.addFeature(tempGrid);

            };
        };
        function grid2Seg(){
            var gridsWidth =distance3*1000/gridsize;
            console.log(gridsWidth);
            for (i=(-gridsWidth); i<gridsWidth; i++){
                var tempHome  = ol.proj.fromLonLat(coordsHome);
                var px1 = tempHome [0]+(i*gridsize)+(gridsize/2);

                var py1 = tempHome [1]+(gridsWidth*gridsize)+(gridsize/2);

                var px2 = px1 - gridsize;

                var py3 = py1 - gridsize;

                var tempGrid = new ol.Feature( new ol.geom.Polygon([[[px1,py1],[px2,py1],[px2,py3],[px1,py3],[px1,py1]]]));
                console.log(tempGrid);
                segColl.push(tempGrid);
                sourceSeg.addFeature(tempGrid);
                
                for (j=0; j<(gridsWidth*2)-1; j++){
                    var py1 = py1 - gridsize;
                    var py3 = py3 - gridsize;
                    var tempGrid = new ol.Feature( new ol.geom.Polygon([[[px1,py1],[px2,py1],[px2,py3],[px1,py3],[px1,py1]]]));

                    segColl.push(tempGrid);
                    sourceSeg.addFeature(tempGrid);
                };
            };
            removeInteractions();
        };

        //////////// start on load///////////////
        hideSat();
        vectorLayerListener();
        //toggleStreets();
        buildTrackSet();
        drawSearchRange();
        drawGrid();

</script>  

    {% load static %}
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

