
  <head>
    <meta charset="utf-8">
    <title>Tracking</title>
  </head>

{% block content %}
<body>
  <form id="createTaskForm" method="post">
    {% csrf_token %}    
    <label for="ID">Tracking ID</label>
    <label for="Lat">Lat</label>
    <label for="Lon">Lon</label>
    <input type="text" id="ID" name="ID"></input><br><br>    
    <input type="text" id="Lat" name="Lat"></input><br><br> 
    <input type="text" id="Lon" name="Lon"></input>  
    <button type ="button" id="ajax" class="ajax">Track Now</button>
    <p>Hello World</p>
  </form>
  <input type="checkbox" id="trackOn" name="trackOn" value="trackOn">
  <label for="trackOn">Track Position</label><br>
</body>
{% endblock %}


  {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/trackingHelper.js' %}"></script>
