
  <head>
    <meta charset="utf-8">
    <title>Tracking</title>
  </head>

{% block content %}
<body>
  <form id="createTaskForm" method="post">
    {% csrf_token %}    
    <label for="ID">Tracking ID</label>
    <input type="text" id="ID" name="ID"></input><br><br> 
    <label for="Lat">Lat</label>   
    <input type="text" id="Lat" name="Lat"></input><br><br> 
    <label for="Lon">Lon</label>
    <input type="text" id="Lon" name="Lon"></input>  

    <label for="Status">Status</label>
    <select name="Status" id="Status">
            <option value="Idle">Idle</option>
            <option value="On Route">On Route</option>
            <option value="Active">Active</option>
            <option value="Stalled">Stalled</option>
    </select><br><br> 
    <label for="Message">Message</label>
    <textarea id="Message" name="Message"></textarea> 
    <button type ="button" id="ajax" class="ajax">Update Tracking</button><br><br> 
  </form>
  <input type="checkbox" id="trackOn" name="trackOn" value="trackOn">
  <label for="trackOn">Track Position</label><br>
</body>
{% endblock %}


  {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/trackingHelper.js' %}"></script>
